.menu-btn {
    position: absolute;
    z-index: 1;
    right: 3rem;
    top: 2rem;
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    @include transition-ease;

    &__burger {
        position: absolute;
        right: 0;
        top: .5rem;
        width: 4rem;
        height: .3rem;
        background: set-text-color($primary-color);
        @include transition-ease;

        &::before {
            content: '';
            position: absolute;
            top: 1rem;
            width: 4rem;
            height: .3rem;
            background: set-text-color($primary-color);
            @include transition-ease;
        }

        &::after {
            content: '';
            position: absolute;
            top: 2rem;
            width: 4rem;
            height: .3rem;
            background: set-text-color($primary-color);
            @include transition-ease;
        }
    }
}

